
img {
    vertical-align: middle;
    border-radius: 40%;
    max-height: 250px;
    padding: 10px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin-top: 0.5rem 0 1rem 0px;
    border-radius: 2px;
    background-color: #fff;
  }
